
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-100) var(--color-white);
}

*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-200);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-300);
}

.dark * {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-800) var(--color-slate-900);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-800);
  border-radius: 14px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-700);
}
